/* /!\ You need to add vendor prefixes in order to render the CSS properly (or simply use http://leaverou.github.io/prefixfree/) /!\ */ #tridiv {
    perspective: 800px;
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background: transparent;
    font-size: 100%;
  }
  .face {
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.4);
  }
  .scene, .shape, .face, .face-wrapper, .cr {
    position: absolute;
    transform-style: preserve-3d;
  }
  .scene {
    width: 80em;
    height: 80em;
    top: 50%;
    left: 50%;
    margin: -40em 0 0 -40em;
  }
  .shape {
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    transform-origin: 50%;
  }
  .face, .face-wrapper {
    overflow: hidden;
    transform-origin: 0 0;
    backface-visibility: hidden;
    /* hidden by default, prevent blinking and other weird rendering glitchs */
  }
  .face {
    background-size: 100% 100%!important;
    background-position: center;
  }
  .face-wrapper .face {
    left: 100%;
    width: 100%;
    height: 100%
  }
  .photon-shader {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%
  }
  .side {
    left: 50%;
  }
  .cr, .cr .side {
    height: 100%;
  }
  [class*="pyramid"] .face-wrapper .face {
    transform: rotateZ(45deg) translateX(-35.35%) translateY(35.35%);
  }
  [class*="pyramid"] .bk {
    left: 100%;
  }
  [class*="pyramid"] .bm {
    top: 100%;
    transform: rotateX(-90deg) translateY(-50%);
  }
  [class*="pyramid"] .rt, [class*="pyramid"] .lt {
    transform-origin: 50% 0;
  }
  /* .pyr-1 styles */
  .pyr-1 {
    transform:translate3D(-0.625em, 0em, -6.4375em) rotateX(0deg) rotateY(-450deg) rotateZ(0deg);
    opacity:1;
    width:14.25em;
    height:8.375em;
    margin:-4.1875em 0 0 -7.125em;
  }
  .pyr-1 .face-wrapper {
    width:14.25em;
    height:7.125em;
  }
  .pyr-1 .face-wrapper .face {
    width:14.25em;
    height:14.25em;
  }
  .pyr-1 .ft {
    transform:scaleZ(1.5432614471052104) scaleY(1.5432614471052104) rotateX(40.389350681339394deg);
  }
  .pyr-1 .bk {
    transform:scaleZ(1.5432614471052104) scaleY(1.5432614471052104) rotateX(-40.389350681339394deg) rotateY(180deg);
  }
  .pyr-1 .rt {
    transform:scaleX(1.5432614471052104) scaleY(1.5432614471052104) rotateZ(40.389350681339394deg) rotateY(-90deg);
  }
  .pyr-1 .lt {
    transform:scaleX(1.5432614471052104) scaleY(1.5432614471052104) rotateZ(-40.389350681339394deg) rotateY(90deg);
  }
  .pyr-1 .bm {
    width:14.25em;
    height:14.25em;
  }
  .pyr-1 .face {
    background-color:#FFFFFF;
  }