* {
    /*background: #4B79A1;
    background: -webkit-linear-gradient(to right, #283E51, #4B79A1);
    background: linear-gradient(to right, #283E51, #4B79A1);*/
    background: #F0C27B;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4B1248, #F0C27B);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4B1248, #F0C27B);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg-7 h1 {
    position: relative;
}

.bg-7 h1::after {
    content: "BIENVENIDOS";
    font-size: 10rem;
    letter-spacing: 0px;
    background-size: 150%;
    background: linear-gradient(135deg, #fcdf8a, #f38381);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -moz-text-stroke-width: 0;
    -webkit-text-stroke-width: 0;
    position: absolute;
    text-align: center;
    left: 8px;
    right: 0;
    top: 6px;
    z-index: -1;
    -webkit-animation: pulse-delay 8.5s linear 0.5s infinite alternate;
    animation: pulse-delay 8.5s linear 0.5s infinite alternate;
}

@keyframes pulse-delay {
    0% {
        background: -webkit-linear-gradient(315deg, #fcdf8a, #f38381);
        background: -o-linear-gradient(315deg, #fcdf8a 0, #f38381 100%);
        background: linear-gradient(135deg, #fcdf8a, #f38381);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    4.16667% {
        background: -webkit-linear-gradient(315deg, #c3ec52, #0ba29d);
        background: -o-linear-gradient(315deg, #c3ec52 0, #0ba29d 100%);
        background: linear-gradient(135deg, #c3ec52, #0ba29d);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    8.33333% {
        background: -webkit-linear-gradient(315deg, #13f1fc, #0470dc);
        background: -o-linear-gradient(315deg, #13f1fc 0, #0470dc 100%);
        background: linear-gradient(135deg, #13f1fc, #0470dc);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    12.5% {
        background: -webkit-linear-gradient(315deg, #ce9ffc, #7367f0);
        background: -o-linear-gradient(315deg, #ce9ffc 0, #7367f0 100%);
        background: linear-gradient(135deg, #ce9ffc, #7367f0);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    16.6667% {
        background: -webkit-linear-gradient(315deg, #f36265, #961276);
        background: -o-linear-gradient(315deg, #f36265 0, #961276 100%);
        background: linear-gradient(135deg, #f36265, #961276);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    20.8333% {
        background: -webkit-linear-gradient(315deg, #184e68, #57ca85);
        background: -o-linear-gradient(315deg, #184e68 0, #57ca85 100%);
        background: linear-gradient(135deg, #184e68, #57ca85);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    25% {
        background: -webkit-linear-gradient(315deg, #fad961, #f76b1c);
        background: -o-linear-gradient(315deg, #fad961 0, #f76b1c 100%);
        background: linear-gradient(135deg, #fad961, #f76b1c);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    29.1667% {
        background: -webkit-linear-gradient(315deg, #f2d50f, #da0641);
        background: -o-linear-gradient(315deg, #f2d50f 0, #da0641 100%);
        background: linear-gradient(135deg, #f2d50f, #da0641);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    33.3333% {
        background: -webkit-linear-gradient(315deg, #f54ea2, #ff7676);
        background: -o-linear-gradient(315deg, #f54ea2 0, #ff7676 100%);
        background: linear-gradient(135deg, #f54ea2, #ff7676);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    37.5% {
        background: -webkit-linear-gradient(315deg, #0ff0b3, #036ed9);
        background: -o-linear-gradient(315deg, #0ff0b3 0, #036ed9 100%);
        background: linear-gradient(135deg, #0ff0b3, #036ed9);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    41.6667% {
        background: -webkit-linear-gradient(315deg, #17ead9, #6078ea);
        background: -o-linear-gradient(315deg, #17ead9 0, #6078ea 100%);
        background: linear-gradient(135deg, #17ead9, #6078ea);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    100% {
        background: -webkit-linear-gradient(315deg, #17ead9, #6078ea);
        background: -o-linear-gradient(315deg, #17ead9 0, #6078ea 100%);
        background: linear-gradient(135deg, #17ead9, #6078ea);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.container {
    position: relative;
}

.container #menu {
    position: absolute;
    top: 300px;
    left: 10px;
}

#menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


/* items del menu */

#menu ul li {
    background-color: transparent;
    border-radius: 20px;
}


/* enlaces del menu */

#menu ul a {
    display: block;
    color: black;
    text-decoration: none;
    font-weight: 400;
    font-size: 15px;
    padding: 10px;
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: #13f1fc;
    border: 3px solid green;
    border-radius: 20px;
}


/* items del menu */

#menu ul li {
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
}


/* efecto al pasar el ratón por los items del menu */

#menu ul li:hover {
    background: #5b78a7;
}

#menu ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #eee;
    padding: 0;
}


/* items del menu desplegable */

#menu ul ul li {
    float: none;
    width: 150px
}


/* enlaces de los items del menu desplegable */

#menu ul ul a {
    line-height: 120%;
    padding: 10px 15px;
}


/* items del menu desplegable al pasar el ratón */

#menu ul li:hover>ul {
    display: block;
}